.orders-header {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 105px;
}
table {
  width: 100%;
  table-layout: fixed;
}
.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}
.tbl-content {
  height: 500px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.orders-wrapper {
  font-family: "Roboto", sans-serif;
  width: 97%;
  margin: 10px 80px;
  background-image: linear-gradient(
    to left bottom,
    #599cff,
    #4681d4,
    #3566aa,
    #254d82,
    #16355c
  );

  min-height: 100vh;
  height: fit-content;
  margin-top: 65px;
}
.delete-button-orders {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 20px;
}

.delete-button-orders:hover {
  opacity: 0.8;
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Rowdies", sans-serif;
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  font-family: "Sarabun", sans-serif;
}

.orders-admin-table {
  margin: 50px;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.view-button-orders {
  background-color: rgb(54, 156, 80);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 30px;
  min-width: fit-content;
}

.view-button-orders:hover {
  opacity: 0.7;
}
