.admin-login-page {
  background-image: url("../../../assets/admin-background.jpg");
}
.admin-login-form {
  width: 450px !important;
  margin: auto;
  background-color: rgb(38, 38, 44);
}
.admin-login-form h3 {
  color: wheat !important;
  font-family:'Times New Roman', Times, serif;
}
.admin-login-form label {
  color: wheat !important;
}
.admin-username-input,
.admin-password-input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid rgb(28, 105, 228) !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  color: wheat !important;
}

.admin-login-button {
  font-size: small !important;
}
.error{
    font-size: small !important;
}


