@media only screen and (max-width: 380px) {
    .BByhM{
        font-size:11px !important;
    }
    /* sc-ilxebA cYbQZO cYbQZO{
        color: white;
        margin: 10px;
        font-size: small !important;
    } */
  }