
.Reviews-title-line {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 150px;
  }
  
  
  
  .Reviews-title{
  margin-top: 20px;
  }
  
  
  .Reviews {
    margin-top: 20px;
  }
  
  .review {
    border: 1px solid black;
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .review p {
    margin: 0;
  }
  
  .review p:first-child {
    font-weight: bold;
  }

  @media only screen and (max-width: 380px) {
    .Reviews {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:30px;
    }
  
    .review {
      width: 400%;
      height:auto;
       /* Adjust the width based on your preference */
    }
    .eviews-min-page{
      margin-top:-200px;
    }
   
  
    
  }