.add-button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
  }
  
  .add-button, .button__icon, .button__text {
    transition: all 0.3s;
    
  }
  
  .add-button .button__text {
    color: #fff;
    font-weight: 600;
    margin-left: 0.5em;
  }
  


  .add-button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .add-button:hover {
    background: #34974d;
  }
  
  .add-button:hover .button__text {
    color: transparent;
  }
  
  .add-button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .add-button:active .button__icon {
    background-color: #2e8644;
  }
  
  .add-button:active {
    border: 1px solid #2e8644;
  }

  .add-button-icon{
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    margin-right: 50px;
}

.collection-cards{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  justify-content: center; 
  align-items: center;
  margin-top: 45px;
  row-gap: 50px;
}
.collection-page-container {
  background-image: linear-gradient(
    to left bottom,
    #599cff,
    #4681d4,
    #3566aa,
    #254d82,
    #16355c
  );
  min-height: 100vh;
  height: fit-content;
  margin-top: -35px;
}