/* body {
    display: flex;
    justify-content: center;
    margin-left: 17em;
    margin-right: 0px;
    justify-content: center;
} */
.checkout-title {
    font-family: Poppins;
  }
  .checkout-wrapper {
    margin-top: 15%;
    margin-bottom: 15%;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    font-family: Poppins;
    background-color: white;
    -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
    animation: slideUp 2000ms ease;
  }
  
  @keyframes slideUp {
    0% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      visibility: visible;
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .checkout-container {
    width: 120%;
    padding: 5% 10%;
  }
  
  .checkout-title1 {
    align-self: center;
  }
  
  .checkout-form {
    width: 100%;
  }
  
  .checkout-form > * {
    margin-top: 20px;
  }
  
  .checkout-form input {
    width: 100%;
    min-height: 25px;
    border: 0;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    font-family: "Arimo";
    margin-top: 5px;
    color: #000;
    border-radius: 4px;
    border: solid 1px #b2b2b4;
  }
  
  .checkout-form label {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #000;
    border-color: #b2b2b4;
    font-size: Poppins;
  }
  
  .checkout-form h1 {
    font-size: 24px;
    line-height: 10px;
    color: #000;
    letter-spacing: 1px;
  }
  
  .checkout-form h1:nth-of-type(2) {
    margin-top: 10%;
  }
  
  .checkout-name {
    justify-content: space-between;
    display: flex;
    width: 100%;
    font-size: Poppins;
  }
  
  .checkout-name div {
    width: 45%;
  }
  
  .checkout-address-info {
    display: flex;
    justify-content: space-between;
  }
  
  .checkout-address-info div {
    width: 45%;
  }
  
  .cc-info {
    display: flex;
    justify-content: space-between;
  }
  
  .cc-info div {
    width: 45%;
  }
  
  .checkout-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .checkout-btns button {
    /* background-color: #fad0e2e5; */
    /* border-radius: 10px; */
    padding: 0.6% 4%;
    font-size: 16px;
    text-align: center;
    width: 150px;
    height: fit-content;
    justify-content: center;
    
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    /* text-transform: lowercase; */
    color: #fff;
    background-color: #212529;
    border-color: #212529;
    /* border-color: #b2b2b4; */
    text-transform: none;
  }
  
  .checkout-btns button:hover {
    animation-name: btn-hov;
    animation-duration: 550ms;
    animation-fill-mode: forwards;
  }
  
  @keyframes btn-hov {
    100% {
      background-color: #cfc9e1;
      color: #4a3b76;
      transform: scale(1.05);
    }
  }
  
  input:focus,
  button:focus {
    outline: none;
  }
  
  @media (max-width: 736px) {
    .checkout-wrapper {
      width: 70%;
      
      height: 650px ;
      margin-top: 70%;
      margin-bottom: 90%;
    }
  
    .checkout-container {
      width: 90%;
      padding: 5% 5%;
     
    }
  
    .checkout-form h1 {
      font-size: 20px;
  }
    .checkout-title{
      font-size: 17px;
    }
    .checkout-btns {
      gap:30px;
    }
    .checkout-btns button {
      width: 90%;
      
height: 75%;
margin-right: 50px !important;
     font-size: 10px;
     margin-right: 140px;
     margin-top: 16px;
   
    
    }
  .one-chance{
    margin-top: 15px !important;
  }
    .checkout-form h1 {
      text-align: center;
    }
  
    .checkout-name,
    .checkout-address-info,
    .cc-info {
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
    }
  
    .checkout-name div,
    .checkout-address-info div,
    .cc-info div {
      width: 100%;
    }
  
    .checkout-name div:nth-of-type(2),
    .checkout-address-info div:nth-of-type(2),
    .cc-info div:nth-of-type(2) {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 375px) {
    checkout-wrapper {
      margin: auto;
      display: flex;
      justify-content: center;
      width: 50px !important;
      height: 700px;

      
    }
    .checkout-container {
      
      margin: auto;
      justify-content: center;
      display: flex;
      width: 30%;  
    height: 30%;
   
    }
    .checkout-btns {
      font-size: 10px;
    }
.checkout-btns button {
width: 30%;
height: 5%;
margin-right: 90px !important;
}
    
  }
  