.form-container-blog {
  position: absolute;
  left: 560px;
  top: 250px;
  z-index: 1;
  height: 63vh;
  width: 760px;
  background: rgb(38, 38, 44);
  border-radius: 12px;
  padding-top: 20px;
}

.form-submit-blog {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-label-container-blog label {
  color: white;
}

.input-label-container-blog {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 30px; 
  margin-right: 30px;  
}

.label-blog {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
  display: flex;
  flex-direction: column;
}

.input-label-container-blog input,
.input-label-container-blog textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(28, 105, 228);
}

.blog-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.add-blog-1 button,
.cancel-blog-1 button {
  background: rgb(21, 83, 181);
  color: #fff;
  cursor: pointer;
  width: 100px;
  border-radius: 12px;
  padding: 8px;
}

.blog-buttons-container .add-blog-1 button:hover,
.blog-buttons-container .cancel-blog-1 button:hover {
  background: rgb(16, 74, 168);
}

.input-label-container-blog input[type="file"] {
  display: none;
}

.custom-file-input {
  background-color: rgb(21, 83, 181);
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.selected-file-name {
  margin-top: 5px;
  font-size: 14px;
  color: white;
}
