.form-container-carousel {
    position: absolute;
    left: 650px;
    top: 250px;
    z-index: 1;
    min-height: 45vh;
    min-width: 550px;
    background: rgb(38, 38, 44);
    border-radius: 12px;
    padding-top: 20px;
  }
  
  .form-submit-carousel {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .input-label-container-carousel label {
    color: white;
  }
  
  .input-label-container-carousel {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 30px; 
    margin-right: 30px;  
  }
  
  .label-carousel {
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
    display: flex;
    flex-direction: column;
  }
  
  .input-label-container-carousel input,
  .input-label-container-carousel textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(28, 105, 228);
  }
  
  .carousel-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .add-carousel-1 button,
  .cancel-carousel-1 button {
    background: rgb(21, 83, 181);
    color: #fff;
    cursor: pointer;
    width: 100px;
    border-radius: 12px;
    padding: 8px;
  }
  
  .carousel-buttons-container .add-carousel-1 button:hover,
  .carousel-buttons-container .cancel-carousel-1 button:hover {
    background: rgb(16, 74, 168);
  }
  
  .input-label-container-carousel input[type="file"] {
    display: none;
  }
  
  .custom-file-input {
    background-color: rgb(21, 83, 181);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .selected-file-name {
    margin-top: 5px;
    font-size: 14px;
    color: white;
  }
  